.header {
  text-align: center;

  .header-title {
    font-size: 20px;
    padding: 20px 0;
  }
}

.search-field {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movies-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .movie-element {
    display: flex;
    padding: 5px;
    cursor: pointer;
  }

  li {
    margin-bottom: 10px;
  }
}

.movies-paginator {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
